.leftSegment {
    align-items: flex-start;
}

.rightSegment {
    align-items: flex-end;
}

.segment {
    width: 33.333%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App {
    display: flex;
    flex-direction: row;
}