@font-face {
  font-family: Gilroy-bold;
  src: url(./Fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: Gilroy-light;
  src: url(./Fonts/Gilroy-Light.otf);
}

#root {
  text-align: center;
  font-family: Gilroy-light;
  background: black;
  position:fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  color:#FFFAFA;
}

.title {
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  font-weight: lighter;
}

/* .module {
  border: 3px red dotted;
  display: inline-block;
}

.segment {
  border: 3px blue dotted;
} */
